<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!--    <meta charset="UTF-8">-->
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/layout.css" rel="stylesheet" />
    <title th:text="${reviewModel.reviewName}">BClayWalsh Review</title>
  </head>
  <body>
    <header>
      <h1 th:text="${reviewModel.reviewName}">BClayWalsh Review</h1>
    </header>
    <main>
      <a href="/reviews">Reviews</a>
      <ul>
        <li th:text="${reviewModel.reviewName}"></li>
      </ul>

      <img th:src="${reviewModel.image}" alt="game cover">
      <h2 th:text="${reviewModel.content}"></h2>
    </main>
  </body>
</html>
