<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!--    <meta charset="UTF-8">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/images/layout.css}" rel="stylesheet" >
    <link th:href="@{/images/style.css}" rel="stylesheet" >
    <title>BClayWalsh Reviews</title>
  </head>
  <body class="body">
    <header>
      <h1>BClayWalsh Reviews</h1>
    </header>
    <main>
      <nav>
        <a href="reviewsTemplate.html">Reviews List</a>
<!--        <a href="index.html">Home</a>-->
      </nav>
      <ul>
        <li th:each="review: ${reviewsModel}">
          <a
            th:href="@{/review(id=${review.id})}"
            th:text="${review.reviewName}"
          ></a>
        </li>
      </ul>
    </main>
  </body>
</html>
